<div class="space" [style.minHeight]="minHeight" id="configTab">
  <mat-form-field class="full-width">
    <input matInput placeholder="Scheduler" [ngModel]="scheduler" (ngModelChange)="update('scheduler', $event)">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="number" max="65536" placeholder="Port" [ngModel]="port" (ngModelChange)="updateInt('port', $event)">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="number" max="65536" placeholder="Legend Space" [ngModel]="chartLegendSpace" (ngModelChange)="updateInt('chartLegendSpace', $event)">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Client" [ngModel]="client" (ngModelChange)="update('client', $event)">
  </mat-form-field>
  <mat-form-field>
    Background <input matInput [colorPicker]="bgcolor" (colorPickerChange)="update('bgcolor', $event)" [style.background]="bgcolor">
  </mat-form-field>
  <mat-form-field>
    Foreground <input matInput [colorPicker]="fgcolor" (colorPickerChange)="update('fgcolor', $event)" [style.background]="fgcolor">
  </mat-form-field>
  <div>
    <mat-checkbox matInput [ngModel]="pieBuilding" (ngModelChange)="updateBool('pieBuilding', $event)">Represent 100% of pie chart as currently building jobs</mat-checkbox>
  </div>
  <div>
    <mat-checkbox matInput [ngModel]="noAnimate" (ngModelChange)="updateBool('noAnimate', $event)">Don't animate the pie chart</mat-checkbox>
  </div>
</div>
