.git*
.ninja_deps
.ninja_log
3rdparty/*
3rdparty/CMakeFiles/
3rdparty/LUrlParser/*
3rdparty/cmake_install.cmake
3rdparty/json11/*
3rdparty/libLUrlParser.a
CMakeCache.txt
CMakeFiles/
CMakeFiles/*
CMakeLists.txt
CTestTestfile.cmake
bin/c++
bin/cc
bin/clang*
bin/create-test-proj.sh
bin/fiskc
bin/g++
bin/gcc
build.ninja
client/*
client/CMakeFiles/*
client/cmake_install.cmake
cmake_install.cmake
cmake_install.cmake
cmake_install.cmake
compile_commands.json
json11.pc
libjson11.a
rules.ninja