.ninja_deps
.ninja_log
3rdparty/CMakeFiles/
3rdparty/cmake_install.cmake
3rdparty/libLUrlParser.a
CMakeCache.txt
CMakeFiles/
bin/fiskc
build.ninja
client/CMakeFiles/*
client/cmake_install.cmake
cmake_install.cmake
compile_commands.json
rules.ninja
3rdparty/LUrlParser/*
3rdparty/json11/*
CMakeFiles/*
CTestTestfile.cmake
cmake_install.cmake
json11.pc
libjson11.a
3rdparty/tiny-process-library/*
cmake_install.cmake
