[Unit]
Description=Fisk daemon socket
PartOf=fisk-daemon.service

[Socket]
ListenStream=/tmp/fisk.socket
SocketMode=0777
RemoveOnStop=false

[Install]
WantedBy=sockets.target
