<mat-card>
  <mat-card-content>
    <mat-tab-group class="demo-tab-group" (selectedTabChange)="onTabChanged($event)" (animationDone)="onAnimationDone()">
      <mat-tab label="Chart">
        <app-chart></app-chart>
      </mat-tab>
      <mat-tab label="Pie Chart">
        <app-pie-chart></app-pie-chart>
      </mat-tab>
      <mat-tab label="Logs">
        <app-logs></app-logs>
      </mat-tab>
      <mat-tab label="Config">
        <app-config></app-config>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
