[Unit]
Description=Fisk scheduler, the distributed compile system
Wants=network.target

[Service]
User=root
ExecStart=/usr/bin/env node /var/fisk/scheduler/run-fisk-scheduler.js --max_old_space_size=8192
Restart=always

[Install]
WantedBy=multi-user.target
