[Unit]
Description=Fisk scheduler, the distributed compile system
Wants=network.target

[Service]
User=root
Environment="PATH=/var/fisk/scheduler/node/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/var/fisk/scheduler/node/bin/node /var/fisk/scheduler/run-fisk-scheduler.js
Restart=always
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
